.dashboard {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 7.2rem 14.4rem;

  &__content-container {
    min-height: 100%;
    width: 100%;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.16);
    border-radius: 1.5rem;
    padding: 7.2rem;
  }

  &__header-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4.8rem;
    align-items: center;
  }

  &__welcome {
    font-size: 3.2rem;
    font-family: "roboto";
    font-weight: 700;
  }

  &__plus {
    font-size: 3.2rem;
    font-weight: 700;
    cursor: pointer;
  }

  &__table {
    width: 100%;
    font-family: "roboto";
  }

  &__table-header {
    border-bottom: 1px solid #e7e7e7;
    padding: 1.2rem 0;
    font-size: 1.8rem;
    text-align: start;
    width: 50%;
  }

  &__table-data {
    border-bottom: 1px solid #e7e7e7;
    padding: 1.2rem 0;
    font-size: 1.8rem;

    &--text {
      width: 47%;
    }

    &--icon {
      width: 3%;
      padding: 0;
      cursor: pointer;
    }
  }

  &__delete-icon {
    color: var(--color-error);
  }
}
